<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:sport.properties"/>
	
	<bean id="myAdviceService"
		class="com.sean.springdemo.ObviousAdviceService">
	</bean>

	<bean id="myCoach"
		class="com.sean.springdemo.BasketballCoach">
		<constructor-arg ref="myAdviceService"/>
	</bean>
	
	<bean id="myFootballCoach"
		class="com.sean.springdemo.FootballCoach">
		<property name="adviceService" ref="myAdviceService"/>
		<property name="emailAddress" value="${info.email}"/>
		<property name="team" value="${info.team}"/>
	</bean>

</beans>